.post {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button {
    background-color: transparent;
}

.postControl {
    display: flex;
    align-items: center;
}

.deleteBtn svg {
    font-size: 40px;
}